[Desktop Entry]
Type=Application
Name=GoROM
GenericName=Emulator ROM Manager
Icon=gorom
Exec=goromui
StartupNotify=true
Categories=Application;Utility;Games
